*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}


:root{
    --color-blue: #006cfa;
    --color-green: #00e165;

}

/*startregion main*/
h4{
    color: black;
}

.row{
    height: 60px;
    margin-bottom: 4px;
}

[class^="col-"], [class^="offset-col-"] {
    background-color: var(--color-blue);
    height: 100%;
    color: white;
    margin-right: 4px;
    text-align: center;
    padding-top: 1rem;
}

.col{
    background-color: var(--color-blue);
}

.row_with_card{
    height: 100px;
    display: flex;
    margin-bottom: 1.5rem;
}

[class^="nested-col-"] {
    background-color: var(--color-green);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 4px;
}
/*endregion main*/